<h1>Edit Genre Form</h1>
<table>
<%= form_for(@genre) do |f| %>
  <tr>

  <td><%= f.label :name, 'Genre Name' %></td>
  <td><%= f.text_field :name %></td></tr>
  <tr>
    <td><%= f.submit %></td>
  </tr>
  </table>
<% end %>
